* {
	-webkit-user-select: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Source Sans Pro", source-sans-pro, sans-serif;
	font-weight: 100;
	text-rendering: optimizeLegibility;
}
html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	color: #ddd;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* icomatic.css */
@font-face {
  font-family: 'Icomatic';
  src: url('icomatic/icomatic.eot');
  src: url('icomatic/icomatic.eot?#iefix') format("embedded-opentype"),
  url('icomatic/icomatic.woff') format("woff"),
  url('icomatic/icomatic.ttf') format("truetype"),
  url('icomatic/icomatic.svg#icomatic') format('svg');
}
a.icomatic {
  text-decoration: none;
  color: #eee;
}
.icomatic {
  font-family: 'Icomatic','sans-serif';
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: antialiased;
}
.icomatic-alt {
  margin: -1px;
  border:0;
  padding: 0;
  width: 1px; height: 1px;
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
}
/* end icomatic */

/* takeover topcoat proper */
.topcoat-text-input.quiet {
	background: transparent;
	border-color: transparent;
}
/* end takeover topcoat proper */
aside.panels {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 260px;
	background-color: #282828;
	border-left: 1px solid rgba(255,255,255,.05);
	overflow: auto;
}

/* tree */
.topcoat-tree {
	width: 100%;
}
.topcoat-tree > li {
	display: block;
}
.topcoat-tree > li { 
	position: relative; 
}
.topcoat-tree > li > a {
  color:#ccc;
  text-decoration: none;
  display: inline-block;
}
.topcoat-tree > li > input[type="checkbox"] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
}
	.topcoat-tree label {
		position: relative;
/*		text-indent: 10px;*/
	}

		.topcoat-tree input[type="checkbox"] + label:after {
			font-size: 90%;
			position: absolute;
			top: 7px;
			right: 15px;
			border: solid transparent;
			content: "Show";
			color: rgba(255,255,255,.2);
/*
			border-left: 4px solid #9E9FA0;
			-webkit-transition: all .11s cubic-bezier(0.455, 0.030, 0.515, 0.955);
*/
		}
		.topcoat-tree input[type="checkbox"]:checked + label:after {
			content: "Hide";
/*			-webkit-transform: rotate(90deg);*/
		}
.topcoat-tree > li > label + ul {
	margin: -0.938em 0 0 0;
	height: 1em;
	-webkit-transition: padding-top .1s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
/*
.topcoat-tree ul > li,
.topcoat-tree ul > li > li,
.topcoat-tree ul > li > li >li { 
  margin-left: -14px
}
*/
.topcoat-tree > li > ul {
	border-bottom: 1px solid rgba(255,255,255,.05);
}
.topcoat-tree > li label + ul > li { 
	opacity: 0;
	height: 0%;
	-webkit-transition: all .05s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
.topcoat-tree > li > label {
	cursor: pointer;
	display: block;
	padding: 10px 15px;
	color: #aaa;
	font-size: 82%;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 2;
}
.topcoat-tree > li > label:after {
    content:'';
}
.topcoat-tree > li input[type="checkbox"]:checked ~ ul {
	padding: 1.12em 0 0 0;
	height: auto;
}
.topcoat-tree > li input[type="checkbox"]:checked ~ ul > li { 
/*  display: block;*/
	height: auto;
	margin: 0 0 0.125em;
	opacity: 1;
}
.topcoat-tree > li input[type="checkbox"]:checked ~ ul > li:last-child  {   
  margin: 0 0 0.063em; 
}

/* select */
.topcoat-select {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  vertical-align: top;
  outline: none;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.topcoat-select:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.topcoat-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.topcoat-select::-ms-expand {
  display: none;
}

.topcoat-select {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  appearance: button;
  text-indent: 0.01px;
  text-overflow: '&hellip;';
  max-width: 150px;
  padding: 0 8px;
  padding-right: 23px;
  font-size: 14px;
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #aaa;
  vertical-align: top;
  border-radius: 0;
  background-color: #282828;
  border: 1px solid rgba(255,255,255, .1);
  background-image: url('design-shop-assets/dropdown.svg');
  background-repeat: no-repeat;
  background-position: center right;
}

.topcoat-select:hover {
  
}

.topcoat-select:active {
}

.topcoat-select:focus {
  border: 1px solid hsla(227, 100%, 50%, 1);
  box-shadow: 0 0 0 2px hsla(208, 82%, 69%, 1);
  outline: 0;
}
/* layers */

ul.layers,
ul.property-inspector {
	padding: 0;
}
ul.layers li,
ul.property-inspector li {
  display: block;
  font-size: 1rem;
  padding: 10px 15px;
}
ul.layers li:hover {
	background-color: rgba(255,255,255,.05);
}
ul.layers li.quiet:hover {
	background-color: transparent;
}
ul.layers a.icomatic {
	margin-right: 10px;
}
ul.property-inspector input[type="text"] {
	width: 100px;
}
ul.property-inspector select {
	width: 200px;
}
ul.property-inspector > li {
	display: block;
	margin-bottom: 20px;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
}
	ul.property-inspector > li h3 {
		display: block;
		margin: 0;
		padding: 0;
		font-size: 90%;
	}
	ul.property-inspector > li fieldset {
		border: 1px dotted rgba(255,255,255,.05);
	}
	ul.property-inspector > li fieldset:last-child {
		margin-bottom: 15px;
	}
	ul.property-inspector > li fieldset legend {
		color: #7a7a7a;
		font-size: 90%;
		font-weight: 500;
	}
	ul.property-inspector > fieldset legend {
		color: #aaa;
		font-size: 80%;
	}
		ul.property-inspector > li .pi-block {
			height: 30px;
			line-height: 30px;
			display: block;
		}
	ul.property-inspector > li small {
		display: inline-block;
		width: 45px;
		height: 30px;
		line-height: 30px;
		margin: 0 5px 0 0;
		text-align: right;
		overflow: hidden;
		color: #7a7a7a;
		font-size: 75%;
	}
	ul.property-inspector > li a.color-well {
		display: flex;
		position: absolute;
		width: 20px;
		height: 20px;
		margin: 5px 0;
		background: #09c;
		border: 1px solid rgba(255,255,255, .1);
	}
	ul.property-inspector > li small + a.color-well + input[type="text"] {
		width: 100px;
		margin: 0 0 0 20px;
	}
	ul.property-inspector > li input[type="text"] {
		margin: 0;
		height: 30px;
		line-height: 30px;
	}
	ul.property-inspector > li input[type="text"].small {
		width: 40px;
	}
	ul.property-inspector > li input[type="range"] {
		width: 100px;
		margin: 12px 0 0 0;
	}

ul.property-inspector > li:last-child {
	margin: 0;
}
/*

————————————————— Toolbar

*/
#toolbar {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border-right: 1px solid rgba(255,255,255,.05);
	background-color: #282828;
}
#toolbar li button {
	font-size: 100%;
	color: #eee;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #282828;
	box-shadow: none;
	border: none;
	border-radius: 0;
	width: 44px;
	height: 44px;
	line-height: 44px;
	display: block;
}
#toolbar li button.selected {
	background-color: rgba(255,255,255,.1);
}

#tools li button {
	border-bottom: 1px solid rgba(255,255,255,.05);
}
ul #tool-move button {
	background-image: url(img/ico-move.svg);
}
ul #tool-text button {   
	background-image: url(img/ico-text.svg);
}
ul #tool-rounded-rect button {
	background-image: url(img/ico-rounded-rect.svg);
}
ul #tool-rect button {
	background-image: url(img/ico-rect.svg);
}
ul #tool-circle button {
	background-image: url(img/ico-circle.svg);
}
ul #tool-pen button {   
	background-image: url(img/ico-pen.svg);
}
ul #tool-brush button {   
	background-image: url(img/ico-brush.svg);
}
ul #tool-eyedropper button {   
	background-image: url(img/ico-eyedropper.svg);
}
ul #tool-rectangle button {
	background-image: url(topcoat/rectangle.svg);
}
ul #tool-rounded-rect button {
	background-image: url(img/ico-rounded-rect.svg);
}
ul #tool-lasso button {
	background-image: url(img/ico-lasso.svg);
}
ul #tool-crop button {
	background-image: url(img/ico-crop.svg);
}
ul #tool-blue-pencil button {
	color: #41B3E1;
/*	background-image: url(img/ico-blue-pencil.svg);*/
}

#toggle {
	position: absolute;
	bottom: 0;
}
#toggle li button {
	border-top: 1px solid rgba(255,255,255,.05);
}


ul #toggle-classic button {
	background-image: url(topcoat/alert.svg);
}
ul #toggle-dev button {
	background-image: url(topcoat/build.svg);
}
ul #toggle-custom button {
	background-image: url(topcoat/pencil.svg);
}