@font-face {
	font-family: 'icomoon';
	src:url('icomoon/icomoon.eot?-9zxwe6');
	src:url('icomoon/icomoon.eot?#iefix-9zxwe6') format('embedded-opentype'),
		url('icomoon/icomoon.woff?-9zxwe6') format('woff'),
		url('icomoon/icomoon.ttf?-9zxwe6') format('truetype'),
		url('icomoon/icomoon.svg?-9zxwe6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
	content: "\e600";
}
.icon-text:before {
	content: "\e601";
}
.icon-pen:before {
	content: "\e602";
}
.icon-move:before {
	content: "\e603";
}
.icon-lasso:before {
	content: "\e604";
}
.icon-eyedropper:before {
	content: "\e605";
}
.icon-crop:before {
	content: "\e606";
}
.icon-brush:before {
	content: "\e607";
}
.icon-wifi:before {
	content: "\e608";
}
.icon-w3c:before {
	content: "\e609";
}
.icon-vimeo:before {
	content: "\e60a";
}
.icon-view:before {
	content: "\e60b";
}
.icon-plugin:before {
	content: "\e60c";
}
.icon-pinterest:before {
	content: "\e60d";
}
.icon-picasa:before {
	content: "\e60e";
}
.icon-phone:before {
	content: "\e60f";
}
.icon-pencil:before {
	content: "\e610";
}
.icon-expand:before {
	content: "\e611";
}
.icon-error:before {
	content: "\e612";
}
.icon-email:before {
	content: "\e613";
}
.icon-download:before {
	content: "\e614";
}
.icon-arrow_up:before {
	content: "\e615";
}
.icon-arrow_right:before {
	content: "\e616";
}
.icon-arrow_left:before {
	content: "\e617";
}
.icon-arrow_down:before {
	content: "\e618";
}
.icon-alert:before {
	content: "\e619";
}
.icon-user:before {
	content: "\e61a";
}
.icon-unlock:before {
	content: "\e61b";
}
.icon-tileview:before {
	content: "\e61c";
}
.icon-tablet:before {
	content: "\e61d";
}
.icon-share:before {
	content: "\e61e";
}
.icon-settings:before {
	content: "\e61f";
}
.icon-search:before {
	content: "\e620";
}
.icon-save:before {
	content: "\e621";
}
.icon-rss:before {
	content: "\e622";
}
.icon-roundedrectangle:before {
	content: "\e623";
}
.icon-roundedrectangle_outline:before {
	content: "\e624";
}
.icon-retweet:before {
	content: "\e625";
}
.icon-refresh:before {
	content: "\e626";
}
.icon-rectangle:before {
	content: "\e627";
}
.icon-rectangle_outline:before {
	content: "\e628";
}
.icon-question:before {
	content: "\e629";
}
.icon-print:before {
	content: "\e62a";
}
.icon-preview:before {
	content: "\e62b";
}
.icon-plus:before {
	content: "\e62c";
}
.icon-path:before {
	content: "\e62d";
}
.icon-next:before {
	content: "\e62e";
}
.icon-next_light:before {
	content: "\e62f";
}
.icon-minus:before {
	content: "\e630";
}
.icon-lock:before {
	content: "\e631";
}
.icon-location:before {
	content: "\e632";
}
.icon-listview:before {
	content: "\e633";
}
.icon-like:before {
	content: "\e634";
}
.icon-image:before {
	content: "\e635";
}
.icon-image_outline:before {
	content: "\e636";
}
.icon-home:before {
	content: "\e637";
}
.icon-group:before {
	content: "\e638";
}
.icon-github:before {
	content: "\e639";
}
.icon-github_text:before {
	content: "\e63a";
}
.icon-folder:before {
	content: "\e63b";
}
.icon-feedback:before {
	content: "\e63c";
}
.icon-favorite:before {
	content: "\e63d";
}
.icon-delete:before {
	content: "\e63e";
}
.icon-computer:before {
	content: "\e63f";
}
.icon-comment:before {
	content: "\e640";
}
.icon-collapse:before {
	content: "\e641";
}
.icon-cloud:before {
	content: "\e642";
}
.icon-circle:before {
	content: "\e643";
}
.icon-circle_outline:before {
	content: "\e644";
}
.icon-chat:before {
	content: "\e645";
}
.icon-cart:before {
	content: "\e646";
}
.icon-cancel:before {
	content: "\e647";
}
.icon-camera:before {
	content: "\e648";
}
.icon-call:before {
	content: "\e649";
}
.icon-calendar:before {
	content: "\e64a";
}
.icon-build:before {
	content: "\e64b";
}
.icon-bookmark:before {
	content: "\e64c";
}
.icon-behance:before {
	content: "\e64d";
}
.icon-back:before {
	content: "\e64e";
}
.icon-back_light:before {
	content: "\e64f";
}
.icon-audiooff:before {
	content: "\e650";
}
.icon-audio:before {
	content: "\e651";
}
.icon-attachment:before {
	content: "\e652";
}
.icon-checkmark:before {
	content: "\e653";
}
.icon-redo:before {
	content: "\e654";
}
.icon-undo:before {
	content: "\e655";
}
